registry "https://registry.npmmirror.com"
dist-url "https://nodejs.org/dist"
electron_mirror "https://npmmirror.com/mirrors/electron/"
node_pre_gyp_registry "https://registry.npmmirror.com"
strict-ssl false
