@font-face {
  font-family: "fs"; /* Project id 1183724 */
  src: url('iconfont.woff2?t=1660634130478') format('woff2'),
       url('iconfont.woff?t=1660634130478') format('woff'),
       url('iconfont.ttf?t=1660634130478') format('truetype');
}

.fs {
  font-family: "fs" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs-deleteline:before {
  content: "\e97c";
}

.fs-underline:before {
  content: "\e97f";
}

.fs-look:before {
  content: "\e92c";
}

.fs-time-expire:before {
  content: "\e7eb";
}

.fs-kefutubiao:before {
  content: "\e7ea";
}

.fs-i-fanhuishangyiji:before {
  content: "\e7e8";
}

.fs-daolumoshi:before {
  content: "\e7e7";
}

.fs-a-wenjianjiawenjian:before {
  content: "\e7e6";
}

.fs-fangxing:before {
  content: "\e7e3";
}

.fs-yuanxing:before {
  content: "\e7e5";
}

.fs-xiangpica:before {
  content: "\e7db";
}

.fs-huabi_huaban1:before {
  content: "\e7dc";
}

.fs-zhiwu:before {
  content: "\e7dd";
}

.fs-dimian:before {
  content: "\e7de";
}

.fs-dixing:before {
  content: "\e7df";
}

.fs-sm_1:before {
  content: "\e7e0";
}

.fs-dixingmoshi:before {
  content: "\e7e1";
}

.fs-bianjimoshi:before {
  content: "\e7e2";
}

.fs-linux:before {
  content: "\e7da";
}

.fs-a-ziyuan11:before {
  content: "\e7d9";
}

.fs-a-ziyuan2:before {
  content: "\e7d7";
}

.fs-a-ziyuan3:before {
  content: "\e7d8";
}

.fs-appstore:before {
  content: "\e929";
}

.fs--X:before {
  content: "\e7cb";
}

.fs--Xxuanzhong:before {
  content: "\e7cc";
}

.fs-Y:before {
  content: "\e7cd";
}

.fs-X:before {
  content: "\e7ce";
}

.fs-Xxuanzhong:before {
  content: "\e7cf";
}

.fs--Yxuanzhong:before {
  content: "\e7d0";
}

.fs--Zxuanzhong:before {
  content: "\e7d1";
}

.fs-Yxuanzhong:before {
  content: "\e7d2";
}

.fs-Z:before {
  content: "\e7d3";
}

.fs-Zxuanzhong:before {
  content: "\e7d4";
}

.fs--Z:before {
  content: "\e7d5";
}

.fs--Y:before {
  content: "\e7d6";
}

.fs-lunbotufabu:before {
  content: "\e7bb";
}

.fs-tingzhilunbo:before {
  content: "\e7ca";
}

.fs-fuzhi2:before {
  content: "\e6ef";
}

.fs-shanchu1:before {
  content: "\e710";
}

.fs-dian_tuodong_icon:before {
  content: "\e6f2";
}

.fs-xuanze:before {
  content: "\e6f3";
}

.fs-yidong:before {
  content: "\e6f9";
}

.fs-xuanzhuan-:before {
  content: "\e6fa";
}

.fs-suofang1:before {
  content: "\e72d";
}

.fs-anzhuo:before {
  content: "\e6e8";
}

.fs-pingguo:before {
  content: "\e6ec";
}

.fs-xiazai1:before {
  content: "\e6ed";
}

.fs-SUI_revit:before {
  content: "\e79e";
}

.fs-blender:before {
  content: "\e6ee";
}

.fs-youfenbu:before {
  content: "\e7c9";
}

.fs-horizontally-distributed:before {
  content: "\e7c8";
}

.fs-zuofenbu:before {
  content: "\e7c7";
}

.fs-difenbu:before {
  content: "\e7c6";
}

.fs-chuizhijuzhongfenbu:before {
  content: "\e7c5";
}

.fs-dingfenbu:before {
  content: "\e7c4";
}

.fs-duiqi-copy-copy:before {
  content: "\e7c1";
}

.fs-juzhongduiqi:before {
  content: "\e7c0";
}

.fs-rt-align:before {
  content: "\e7bf";
}

.fs-zuoduiqi-copy-copy:before {
  content: "\e7be";
}

.fs-jurassic_verticalalign-center:before {
  content: "\e7bd";
}

.fs-dingduiqi:before {
  content: "\e7bc";
}

.fs-resource-center:before {
  content: "\ebdf";
}

.fs-The-template:before {
  content: "\e7b7";
}

.fs-tubiaoleixing:before {
  content: "\e7b9";
}

.fs-mobansheji:before {
  content: "\e7ba";
}

.fs-wenjiandaoru:before {
  content: "\e7b6";
}

.fs-jibenxinxi:before {
  content: "\e7b4";
}

.fs-empty:before {
  content: "\e7b5";
}

.fs-upgrade:before {
  content: "\e7b3";
}

.fs-delete1:before {
  content: "\e7b2";
}

.fs-The-new-grouping:before {
  content: "\e7b0";
}

.fs-New-conditions:before {
  content: "\e7b1";
}

.fs-condition:before {
  content: "\e7af";
}

.fs-sheet-back-dashboard:before {
  content: "\e7ae";
}

.fs-get-perspective:before {
  content: "\e7ad";
}

.fs-trigger-name:before {
  content: "\e7ac";
}

.fs-trigger-default:before {
  content: "\e7ab";
}

.fs-transition:before {
  content: "\e7a8";
}

.fs-trigger:before {
  content: "\e7a9";
}

.fs-start-meanwhile:before {
  content: "\e7a6";
}

.fs-start-follow:before {
  content: "\e7a7";
}

.fs-delete-transition:before {
  content: "\e7a2";
}

.fs-trigger-click:before {
  content: "\e7a3";
}

.fs-trigger-hover:before {
  content: "\e7a4";
}

.fs-add-trigger:before {
  content: "\e7a1";
}

.fs-toolbar-replace-image:before {
  content: "\e79d";
}

.fs-toolbar-figure-shape:before {
  content: "\e79f";
}

.fs-toolbar-data-color:before {
  content: "\e7a0";
}

.fs-toolbar-vertical-arrangement:before {
  content: "\e796";
}

.fs-toolbar-font-position-center:before {
  content: "\e798";
}

.fs-toolbar-font-position-right:before {
  content: "\e79a";
}

.fs-toolbar-horizontal-arrangement:before {
  content: "\e79b";
}

.fs-toolbar-font-position-left:before {
  content: "\e79c";
}

.fs-toolbar-font-color:before {
  content: "\e795";
}

.fs-toolbar-font-italic:before {
  content: "\e794";
}

.fs-toolbar-font-bold:before {
  content: "\e793";
}

.fs-toolbar-sub-font-size:before {
  content: "\e792";
}

.fs-toolbar-add-font-size:before {
  content: "\e791";
}

.fs-toolbar-font:before {
  content: "\e790";
}

.fs-toolbar-linkage-windget-info:before {
  content: "\e78f";
}

.fs-toolbar-widget-size:before {
  content: "\e78e";
}

.fs-toolbar-layer-arrangement:before {
  content: "\e78d";
}

.fs-toolbar-unfold:before {
  content: "\e789";
}

.fs-toolbar-fold:before {
  content: "\e788";
}

.fs-locked:before {
  content: "\e78a";
}

.fs-unlocked:before {
  content: "\e78b";
}

.fs-disable:before {
  content: "\e786";
}

.fs-enable:before {
  content: "\e785";
}

.fs-vertical-top:before {
  content: "\e782";
}

.fs-vertical-center:before {
  content: "\e783";
}

.fs-vertical-bottom:before {
  content: "\e784";
}

.fs-performance:before {
  content: "\e77d";
}

.fs-vision:before {
  content: "\e781";
}

.fs-cluster-set:before {
  content: "\e77c";
}

.fs-market-widget:before {
  content: "\e77a";
}

.fs-market-theme:before {
  content: "\e77b";
}

.fs-iosemail:before {
  content: "\e7b8";
}

.fs-phone:before {
  content: "\e787";
}

.fs-vip1:before {
  content: "\e779";
}

.fs-dev-tools:before {
  content: "\e776";
}

.fs-quxiao1:before {
  content: "\e777";
}

.fs-dimension-array:before {
  content: "\e775";
}

.fs-scan:before {
  content: "\e773";
}

.fs-xianshi_tishi:before {
  content: "\e76f";
}

.fs-tishi:before {
  content: "\e778";
}

.fs-expanded-widget-update:before {
  content: "\e76d";
}

.fs-widget-rose-donut:before {
  content: "\e76c";
}

.fs-drxm:before {
  content: "\e76a";
}

.fs-xjxm:before {
  content: "\e76b";
}

.fs-tuceng1:before {
  content: "\e769";
}

.fs-zhedie:before {
  content: "\e766";
}

.fs-widget-area-interval:before {
  content: "\e768";
}

.fs-widget-roadmap:before {
  content: "\e767";
}

.fs-widget-gantt:before {
  content: "\e764";
}

.fs-lujingtu:before {
  content: "\e763";
}

.fs-perspective:before {
  content: "\e762";
}

.fs-daili:before {
  content: "\e760";
}

.fs-boot-start:before {
  content: "\e75f";
}

.fs-shangyi:before {
  content: "\e75e";
}

.fs-shuangjiantou:before {
  content: "\e754";
}

.fs-canshu:before {
  content: "\e759";
}

.fs-fenzu:before {
  content: "\ed69";
}

.fs-30_huaban1fuben39:before {
  content: "\e75d";
}

.fs-yanshimoshi:before {
  content: "\e757";
}

.fs-yanshi:before {
  content: "\e780";
}

.fs-yanshi1:before {
  content: "\e75a";
}

.fs-yanshi2:before {
  content: "\e75c";
}

.fs-replace:before {
  content: "\e755";
}

.fs-yuming:before {
  content: "\e753";
}

.fs-zhongmingming:before {
  content: "\e751";
}

.fs-zhongmingming1:before {
  content: "\e752";
}

.fs-zhongmingming2:before {
  content: "\e772";
}

.fs-show-video-tutorial:before {
  content: "\e87b";
}

.fs-helper2:before {
  content: "\e894";
}

.fs-not-mute:before {
  content: "\e74f";
}

.fs-mute:before {
  content: "\e750";
}

.fs-search-bold:before {
  content: "\e74e";
}

.fs-linked-widgets:before {
  content: "\e74d";
}

.fs-shuaxin1:before {
  content: "\e74b";
}

.fs-console-state:before {
  content: "\e74c";
}

.fs-miaozhun:before {
  content: "\e74a";
}

.fs-jianpan:before {
  content: "\e749";
}

.fs-jishiqi:before {
  content: "\e748";
}

.fs-xiguan:before {
  content: "\e747";
}

.fs-shujutiaojian:before {
  content: "\e744";
}

.fs-widget-filter1:before {
  content: "\e746";
}

.fs-shaixuan:before {
  content: "\e743";
}

.fs-guanli:before {
  content: "\e742";
}

.fs-biyan:before {
  content: "\e819";
}

.fs-map-return:before {
  content: "\e741";
}

.fs-widget-drop-menu:before {
  content: "\e740";
}

.fs-widget-filter:before {
  content: "\ec8d";
}

.fs-widget-dropdown:before {
  content: "\ec95";
}

.fs-restore:before {
  content: "\e73f";
}

.fs-adaptive:before {
  content: "\e73c";
}

.fs-widget-popup:before {
  content: "\e73d";
}

.fs-qiandai-hollow:before {
  content: "\e736";
}

.fs-vip-diamond:before {
  content: "\e73b";
}

.fs-select-all:before {
  content: "\e735";
}

.fs-pack-template:before {
  content: "\e739";
}

.fs-add-data2:before {
  content: "\e73a";
}

.fs-delete-state:before {
  content: "\e737";
}

.fs-edit-state:before {
  content: "\e734";
}

.fs-selected-state:before {
  content: "\e731";
}

.fs-add-state:before {
  content: "\e732";
}

.fs-state-menu:before {
  content: "\e733";
}

.fs-tuxiang:before {
  content: "\e730";
}

.fs-gonggong-gongjulan-zengdazihaopx:before {
  content: "\e72f";
}

.fs-shuipingpailie:before {
  content: "\e72b";
}

.fs-chuizhipailie:before {
  content: "\e72e";
}

.fs-youduiqi:before {
  content: "\e72c";
}

.fs-zuoduiqi:before {
  content: "\e912";
}

.fs-wenziyanse:before {
  content: "\e72a";
}

.fs-xieti:before {
  content: "\e82c";
}

.fs-cuti:before {
  content: "\e729";
}

.fs-bold:before {
  content: "\e728";
}

.fs-ziti:before {
  content: "\e726";
}

.fs-ziti1:before {
  content: "\e745";
}

.fs-zhankai1:before {
  content: "\e727";
}

.fs-zhankai1-copy:before {
  content: "\ec8b";
}

.fs-tuxing:before {
  content: "\e725";
}

.fs-yanse:before {
  content: "\e724";
}

.fs-tuceng:before {
  content: "\e723";
}

.fs-shared-sort:before {
  content: "\e75b";
}

.fs-daxiaopingmuqiehuan:before {
  content: "\e722";
}

.fs-sort:before {
  content: "\e721";
}

.fs-bofang:before {
  content: "\e720";
}

.fs-biaochi:before {
  content: "\e714";
}

.fs-daochu1:before {
  content: "\e71f";
}

.fs-duankou:before {
  content: "\e71e";
}

.fs-pailie:before {
  content: "\e702";
}

.fs-quxiaoshoucang:before {
  content: "\e71d";
}

.fs--:before {
  content: "\e6f5";
}

.fs-xiayiyiceng:before {
  content: "\ec87";
}

.fs-zhiding:before {
  content: "\e71c";
}

.fs-zhiding-copy:before {
  content: "\ec88";
}

.fs-shangyiyiceng:before {
  content: "\ec89";
}

.fs-chexiao:before {
  content: "\e71a";
}

.fs-chexiao-copy:before {
  content: "\ec86";
}

.fs-niantie1:before {
  content: "\e738";
}

.fs-fuzhi1:before {
  content: "\e71b";
}

.fs-bianji1:before {
  content: "\e654";
}

.fs-shoucang:before {
  content: "\e717";
}

.fs-shoucang1:before {
  content: "\e719";
}

.fs-gongxiangwenjianjia:before {
  content: "\e70e";
}

.fs-wangpan-gongxiangwenjianjia:before {
  content: "\e70f";
}

.fs-favorite:before {
  content: "\e712";
}

.fs-guanbixiangmu1:before {
  content: "\e715";
}

.fs-xinjianxiangmu:before {
  content: "\e713";
}

.fs-widget-weather:before {
  content: "\ec82";
}

.fs-widget-button:before {
  content: "\e711";
}

.fs-widget-button-tab:before {
  content: "\ec81";
}

.fs-sucai2:before {
  content: "\e70d";
}

.fs-wenjian1:before {
  content: "\e70c";
}

.fs-filepicture:before {
  content: "\e70b";
}

.fs-excel:before {
  content: "\e774";
}

.fs-word:before {
  content: "\e709";
}

.fs-negtive:before {
  content: "\e7a5";
}

.fs-positive:before {
  content: "\ec80";
}

.fs-wenjian:before {
  content: "\e706";
}

.fs-dabao:before {
  content: "\e707";
}

.fs-baocun1:before {
  content: "\e708";
}

.fs-shuaxin:before {
  content: "\e7f3";
}

.fs-qita:before {
  content: "\e705";
}

.fs-shujuyuan:before {
  content: "\e6ff";
}

.fs-ziyuan:before {
  content: "\e700";
}

.fs-tubiao100:before {
  content: "\e701";
}

.fs-_donghuazujian:before {
  content: "\e704";
}

.fs-tubiao:before {
  content: "\e6fc";
}

.fs-wenben:before {
  content: "\e6fd";
}

.fs-ditu:before {
  content: "\e6fe";
}

.fs-chuizhijuzhong:before {
  content: "\e6f1";
}

.fs-shuipingjuzhong:before {
  content: "\e6f8";
}

.fs-tianjia:before {
  content: "\e6eb";
}

.fs-chakan1:before {
  content: "\e6ea";
}

.fs-update:before {
  content: "\e6e7";
}

.fs-xiazai2:before {
  content: "\e6e9";
}

.fs-jiahao:before {
  content: "\e84f";
}

.fs-menu:before {
  content: "\e6e6";
}

.fs-widget-map-usa:before {
  content: "\e6e4";
}

.fs-shouye1:before {
  content: "\e6e5";
}

.fs-wenjianjia:before {
  content: "\e6e3";
}

.fs-desktop:before {
  content: "\e6e1";
}

.fs-wendang:before {
  content: "\e6e2";
}

.fs-header-coupon:before {
  content: "\e6e0";
}

.fs-liwu:before {
  content: "\e6df";
}

.fs-moban:before {
  content: "\e86b";
}

.fs-new-create:before {
  content: "\e6da";
}

.fs-fuzhi:before {
  content: "\e6db";
}

.fs-daoru:before {
  content: "\e6de";
}

.fs-auto-upload:before {
  content: "\e6d8";
}

.fs-contact-qq:before {
  content: "\e6d9";
}

.fs-contact-tel:before {
  content: "\e718";
}

.fs-55:before {
  content: "\e6d5";
}

.fs-computer:before {
  content: "\e6d4";
}

.fs-disk:before {
  content: "\e6d2";
}

.fs-suofang:before {
  content: "\e6f0";
}

.fs-new-transition-change-state-copy:before {
  content: "\ec7c";
}

.fs-new-transition-change-state-copy-copy:before {
  content: "\ec7d";
}

.fs-new-transition-change-state:before {
  content: "\e6d1";
}

.fs-new-transition-fade-in:before {
  content: "\ec76";
}

.fs-new-transition-slide-in-from-left:before {
  content: "\e6cd";
}

.fs-new-transition-slide-in-from-bottom:before {
  content: "\e6ce";
}

.fs-new-transition-slide-in-from-top:before {
  content: "\e6cf";
}

.fs-new-transition-slide-in-from-right:before {
  content: "\e6d0";
}

.fs-new-transition-slide-out-to-bottom:before {
  content: "\ec7a";
}

.fs-new-transition-default:before {
  content: "\ec8f";
}

.fs-new-transition-slide-out-to-right:before {
  content: "\ec79";
}

.fs-new-transition-fade-out:before {
  content: "\ec77";
}

.fs-new-transition-slide-out-to-top:before {
  content: "\ec7b";
}

.fs-new-transition-slide-out-to-left:before {
  content: "\ec78";
}

.fs-search:before {
  content: "\e6b4";
}

.fs-scale-copy:before {
  content: "\ec75";
}

.fs-zoom:before {
  content: "\ed6a";
}

.fs-transition-setting:before {
  content: "\e6cc";
}

.fs-transition-remove:before {
  content: "\e70a";
}

.fs-transition-meanwhile:before {
  content: "\e6ca";
}

.fs-transition-follow:before {
  content: "\e6cb";
}

.fs-transition-fade-in:before {
  content: "\e6bf";
}

.fs-transition-change-state:before {
  content: "\e6c2";
}

.fs-transition-slide-in-from-top:before {
  content: "\e6c3";
}

.fs-transition-slide-in-from-bottom:before {
  content: "\e6c4";
}

.fs-transition-slide-in-from-right:before {
  content: "\e6c5";
}

.fs-transition-slide-in-from-left:before {
  content: "\e6c9";
}

.fs-cuohao:before {
  content: "\e6bb";
}

.fs-duihao:before {
  content: "\e6bc";
}

.fs-folderclose:before {
  content: "\e7aa";
}

.fs-folderopen:before {
  content: "\e6ba";
}

.fs-up-arrow:before {
  content: "\ec91";
}

.fs-youjiantou:before {
  content: "\e6b9";
}

.fs-down-arrow:before {
  content: "\ec92";
}

.fs-xiajiantou:before {
  content: "\ec74";
}

.fs-yunpan:before {
  content: "\e77e";
}

.fs-xiazai:before {
  content: "\e97b";
}

.fs-shangchuan:before {
  content: "\e6b7";
}

.fs-gengduo:before {
  content: "\e6ad";
}

.fs-chuanshu:before {
  content: "\e6b3";
}

.fs-move:before {
  content: "\e698";
}

.fs-chongmingming:before {
  content: "\e69c";
}

.fs-zhanghao:before {
  content: "\e6a9";
}

.fs-zizhanghao:before {
  content: "\e6ab";
}

.fs-full-screen:before {
  content: "\e6af";
}

.fs-exit-full-screen:before {
  content: "\e6b2";
}

.fs-page-prev:before {
  content: "\e6ac";
}

.fs-page-next:before {
  content: "\ec73";
}

.fs-drag:before {
  content: "\e6a5";
}

.fs-widget-iframe:before {
  content: "\e6b8";
}

.fs-upload:before {
  content: "\e69e";
}

.fs-copy:before {
  content: "\e69d";
}

.fs-alarm:before {
  content: "\e63f";
}

.fs-icon-reset:before {
  content: "\e63e";
}

.fs-daoru1:before {
  content: "\e697";
}

.fs-city:before {
  content: "\e63c";
}

.fs-baocun:before {
  content: "\ea17";
}

.fs-fold2:before {
  content: "\e616";
}

.fs-expand:before {
  content: "\ec71";
}

.fs-sandiantu:before {
  content: "\e612";
}

.fs-widget-scatter:before {
  content: "\e63a";
}

.fs-widget-trend:before {
  content: "\e60f";
}

.fs-widget-table:before {
  content: "\e703";
}

.fs-widget-monitor:before {
  content: "\e693";
}

.fs-widget-wordle:before {
  content: "\e695";
}

.fs-derise-negative2:before {
  content: "\e6a7";
}

.fs-rise-positive2:before {
  content: "\e716";
}

.fs-dot2:before {
  content: "\e6c8";
}

.fs-derise-dot2:before {
  content: "\ec6e";
}

.fs-rise-dot2:before {
  content: "\ec6f";
}

.fs-rise-curve2:before {
  content: "\e6ae";
}

.fs-rise-line2:before {
  content: "\ec6b";
}

.fs-rise-line3:before {
  content: "\ec6c";
}

.fs-derise-line3:before {
  content: "\ec6d";
}

.fs-derise-curve2:before {
  content: "\ec69";
}

.fs-derise-line2:before {
  content: "\ec6a";
}

.fs-polyline:before {
  content: "\e761";
}

.fs-horizontal2:before {
  content: "\e6a8";
}

.fs-rise-polyline2:before {
  content: "\e6b1";
}

.fs-derise-polyline2:before {
  content: "\e6a6";
}

.fs-derise-line4:before {
  content: "\ec68";
}

.fs-rise-line4:before {
  content: "\ec66";
}

.fs-widget-timer:before {
  content: "\e6a3";
}

.fs-widget-video:before {
  content: "\e6a4";
}

.fs-widget-carousel:before {
  content: "\e6a1";
}

.fs-widget-image:before {
  content: "\e6a2";
}

.fs-widget-paragraph:before {
  content: "\e69f";
}

.fs-widget-text:before {
  content: "\e6a0";
}

.fs-widget-pdf:before {
  content: "\ec8c";
}

.fs-ungroup:before {
  content: "\e699";
}

.fs-group:before {
  content: "\e69b";
}

.fs-arrow:before {
  content: "\e694";
}

.fs-dimension-number:before {
  content: "\e691";
}

.fs-setting:before {
  content: "\e68b";
}

.fs-rename2:before {
  content: "\e6b0";
}

.fs-random-fluctuation:before {
  content: "\e68d";
}

.fs-data-type:before {
  content: "\e690";
}

.fs-widget-panel:before {
  content: "\e73e";
}

.fs-tutorial:before {
  content: "\e68a";
}

.fs-helper:before {
  content: "\e689";
}

.fs-icheck-default:before {
  content: "\e765";
}

.fs-icheck-checked:before {
  content: "\e77f";
}

.fs-left-arrow:before {
  content: "\ec90";
}

.fs-right-arrow:before {
  content: "\e688";
}

.fs-course:before {
  content: "\e687";
}

.fs-chakan:before {
  content: "\e686";
}

.fs-wechat:before {
  content: "\e683";
}

.fs-alipay:before {
  content: "\e684";
}

.fs-see:before {
  content: "\e682";
}

.fs-project-share:before {
  content: "\e681";
}

.fs-share-link:before {
  content: "\e680";
}

.fs-editor-toggle:before {
  content: "\ebd8";
}

.fs-editor-run:before {
  content: "\ec61";
}

.fs-widget-expanded:before {
  content: "\e67f";
}

.fs-widget-punch:before {
  content: "\e67e";
}

.fs-widget-progress:before {
  content: "\e67d";
}

.fs-tips:before {
  content: "\e6dd";
}

.fs-folder:before {
  content: "\e7e4";
}

.fs-more-options:before {
  content: "\e86d";
}

.fs-edit2:before {
  content: "\e67c";
}

.fs-add-data:before {
  content: "\e67b";
}

.fs-lock:before {
  content: "\e679";
}

.fs-transition-copy:before {
  content: "\ec8e";
}

.fs-clone:before {
  content: "\e67a";
}

.fs-rename:before {
  content: "\e678";
}

.fs-hide:before {
  content: "\e676";
}

.fs-move-down:before {
  content: "\e675";
}

.fs-move-up:before {
  content: "\e674";
}

.fs-move-to-bottom:before {
  content: "\e673";
}

.fs-move-to-top:before {
  content: "\e671";
}

.fs-delete:before {
  content: "\e66f";
}

.fs-menu-map-return:before {
  content: "\e672";
}

.fs-price:before {
  content: "\e670";
}

.fs-wenti:before {
  content: "\e756";
}

.fs-widget-map-global:before {
  content: "\e66e";
}

.fs-widget-map3-global:before {
  content: "\ec84";
}

.fs-table:before {
  content: "\e66d";
}

.fs-edit:before {
  content: "\e65e";
}

.fs-play:before {
  content: "\e85b";
}

.fs-account:before {
  content: "\e66c";
}

.fs-password:before {
  content: "\eb5f";
}

.fs-widget-model:before {
  content: "\e66a";
}

.fs-reminder:before {
  content: "\e692";
}

.fs-vip:before {
  content: "\e666";
}

.fs-free:before {
  content: "\e669";
}

.fs-arrow-right:before {
  content: "\e667";
}

.fs-submitting:before {
  content: "\e665";
}

.fs-zhuanyeban:before {
  content: "\e662";
}

.fs-biaozhunban:before {
  content: "\e663";
}

.fs-qijianban:before {
  content: "\e664";
}

.fs-mianfei:before {
  content: "\e65c";
}

.fs-direction-left:before {
  content: "\e758";
}

.fs-direction-bottom:before {
  content: "\eb62";
}

.fs-direction-top:before {
  content: "\eb63";
}

.fs-direction-right:before {
  content: "\eb64";
}

.fs-hidden:before {
  content: "\e68e";
}

.fs-visible:before {
  content: "\e661";
}

.fs-contact:before {
  content: "\e653";
}

.fs-project:before {
  content: "\e658";
}

.fs-theme:before {
  content: "\e65b";
}

.fs-hot:before {
  content: "\e660";
}

.fs-new-data:before {
  content: "\e659";
}

.fs-daochu:before {
  content: "\e696";
}

.fs-refresh-data:before {
  content: "\e657";
}

.fs-clear:before {
  content: "\e6d6";
}

.fs-default-data:before {
  content: "\e65f";
}

.fs-new-add:before {
  content: "\e656";
}

.fs-import:before {
  content: "\e655";
}

.fs-connector-file:before {
  content: "\e64e";
}

.fs-connector-all:before {
  content: "\e64f";
}

.fs-connector-db:before {
  content: "\e651";
}

.fs-connector-online:before {
  content: "\e652";
}

.fs-dimension-url:before {
  content: "\e6f4";
}

.fs-widget-tab:before {
  content: "\e815";
}

.fs-widget-search:before {
  content: "\e64d";
}

.fs-align-center:before {
  content: "\e92e";
}

.fs-align-left:before {
  content: "\e92f";
}

.fs-align-right:before {
  content: "\e930";
}

.fs-conn-remove:before {
  content: "\e64b";
}

.fs-qq:before {
  content: "\e7c3";
}

.fs-theme-customize:before {
  content: "\e64c";
}

.fs-theme-save:before {
  content: "\e649";
}

.fs-theme-switch:before {
  content: "\e64a";
}

.fs-shared:before {
  content: "\e76e";
}

.fs-share:before {
  content: "\e771";
}

.fs-refresh:before {
  content: "\e648";
}

.fs-indicator:before {
  content: "\e685";
}

.fs-connector:before {
  content: "\e647";
}

.fs-widget-earth:before {
  content: "\e646";
}

.fs-widget-biaxial-stack:before {
  content: "\e645";
}

.fs-widget-column-stack:before {
  content: "\e644";
}

.fs-widget-bar-percent:before {
  content: "\e643";
}

.fs-widget-column-percent:before {
  content: "\e641";
}

.fs-widget-biaxial:before {
  content: "\e640";
}

.fs-widget-bar-stack:before {
  content: "\e607";
}

.fs-caret:before {
  content: "\e63b";
}

.fs-save:before {
  content: "\e650";
}

.fs-publish:before {
  content: "\e65a";
}

.fs-tag-function:before {
  content: "\e6dc";
}

.fs-tag-axis:before {
  content: "\e6f6";
}

.fs-checkmark:before {
  content: "\e63d";
}

.fs-menu-remove:before {
  content: "\e638";
}

.fs-menu-save:before {
  content: "\e639";
}

.fs-add-image:before {
  content: "\ec72";
}

.fs-sheet-present:before {
  content: "\e6aa";
}

.fs-sheet-dashboard:before {
  content: "\e6b5";
}

.fs-dimension-string:before {
  content: "\e6bd";
}

.fs-dimension-number1:before {
  content: "\e6be";
}

.fs-dimension-caculated:before {
  content: "\e6c0";
}

.fs-dimension-location:before {
  content: "\e6c1";
}

.fs-dimension-time:before {
  content: "\e6c6";
}

.fs-dimension-date:before {
  content: "\e6c7";
}

.fs-sheet-article:before {
  content: "\e6d3";
}

.fs-sheet-monitor:before {
  content: "\e6d7";
}

.fs-dimension-percent:before {
  content: "\e6f7";
}

.fs-dimension-currency:before {
  content: "\e6fb";
}

.fs-remove:before {
  content: "\e637";
}

.fs-sheet-article2:before {
  content: "\e668";
}

.fs-sheet-present2:before {
  content: "\e66b";
}

.fs-add:before {
  content: "\e636";
}

.fs-check:before {
  content: "\e677";
}

.fs-checkbox:before {
  content: "\e799";
}

.fs-fold:before {
  content: "\e642";
}

.fs-loading:before {
  content: "\e770";
}

.fs-widget-map3d:before {
  content: "\ec94";
}

.fs-widget-bar:before {
  content: "\e600";
}

.fs-widget-column-stack2:before {
  content: "\e601";
}

.fs-widget-bar-stack2:before {
  content: "\e602";
}

.fs-widget-donut:before {
  content: "\e603";
}

.fs-widget-treemap:before {
  content: "\e604";
}

.fs-widget-bubble:before {
  content: "\e605";
}

.fs-widget-waterfall:before {
  content: "\e606";
}

.fs-widget-kline:before {
  content: "\e608";
}

.fs-widget-funnel:before {
  content: "\e60a";
}

.fs-widget-radar:before {
  content: "\e60b";
}

.fs-widget-sunburst:before {
  content: "\e60c";
}

.fs-widget-area-stack:before {
  content: "\e60d";
}

.fs-widget-area-percent:before {
  content: "\e60e";
}

.fs-widget-pie:before {
  content: "\e610";
}

.fs-widget-gauge:before {
  content: "\e611";
}

.fs-widget-column:before {
  content: "\e617";
}

.fs-widget-line:before {
  content: "\e618";
}

.fs-widget-map-china:before {
  content: "\ec93";
}

.fs-widget-area:before {
  content: "\e619";
}

.fs-widget-scatter_1:before {
  content: "\e61a";
}

.fs-widget-bar-grouped:before {
  content: "\e61b";
}

.fs-widget-histogram:before {
  content: "\e61c";
}

.fs-widget-sankey:before {
  content: "\e61d";
}

.fs-widget-contour:before {
  content: "\e61e";
}

.fs-widget-box:before {
  content: "\e61f";
}

.fs-widget-heat:before {
  content: "\e620";
}

.fs-widget-rose:before {
  content: "\e621";
}

.fs-widget-column-percent2:before {
  content: "\e622";
}

.fs-widget-bar-percent2:before {
  content: "\e623";
}

.fs-widget-relation:before {
  content: "\e624";
}

.fs-widget-bullet:before {
  content: "\e625";
}

.fs-widget-radial:before {
  content: "\e626";
}

.fs-widget-waffle:before {
  content: "\e627";
}

.fs-widget-mosaic:before {
  content: "\e628";
}

.fs-widget-venn:before {
  content: "\e629";
}

.fs-widget-chord:before {
  content: "\e62a";
}

.fs-widget-kagi:before {
  content: "\e62b";
}

.fs-widget-spiral:before {
  content: "\e62c";
}

.fs-widget-regression:before {
  content: "\e62d";
}

.fs-widget-distributions:before {
  content: "\e62e";
}

.fs-widget-arc:before {
  content: "\e62f";
}

.fs-widget-pyramid:before {
  content: "\e630";
}

.fs-widget-map-path:before {
  content: "\e632";
}

.fs-widget-liquid:before {
  content: "\e634";
}

.fs-widget-river:before {
  content: "\e635";
}

.fs-widget-card:before {
  content: "\ec70";
}

.fs-widget-map3:before {
  content: "\ec83";
}

.fs-widget-dashboard:before {
  content: "\e931";
}

.fs-tag:before {
  content: "\e68c";
}

.fs-time:before {
  content: "\e68f";
}

.fs-more:before {
  content: "\e609";
}

.fs-dashboard:before {
  content: "\e78c";
}

.fs-learn:before {
  content: "\e7ee";
}

.fs-data:before {
  content: "\e7f6";
}

.fs-headset:before {
  content: "\e80b";
}

.fs-settings:before {
  content: "\e818";
}

.fs-mac-max:before {
  content: "\e69a";
}

.fs-input-clear:before {
  content: "\ec8a";
}

.fs-win-close:before {
  content: "\e6b6";
}

.fs-win-min:before {
  content: "\e65d";
}

.fs-win-resize:before {
  content: "\e797";
}

.fs-win-max:before {
  content: "\e7c2";
}

